<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="flex-container">
        <div class="card">
            <div class="card-body">
                <picture>
                    <img src="/static/images/default.jpg" alt="food-img">
                </picture>
                <p class="title"> Title </p>
                <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa deleniti natus soluta quos! Illum sunt neque molestias, labore hic ratione magnam perferendis suscipit commodi reprehenderit, soluta necessitatibus quas id architecto!</p>
            </div>

            <div class="card-footer">
                <div class="created_by">
                    <p>Created By</p>
                </div>
                <div class="created_on">
                    <p>Date</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>